<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="Layout :: navbar"></div>

	<div class="container">
		<br />

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<hr />
					<h3 style="font-weight: 900; text-align: center">Reseña</h3>
					<p align="justify">Este proyecto se orienta al desarrollo de un
						sitio web estadístico que muestre las temperaturas corporales de 3
						sujetos de prueba, con la finalidad de concientizar a los usuarios
						a tomar sus respectivas medidas de seguridad ante la pandemia.</p>
				</div>
				<div class="col-sm-12">
					<hr />
					<h3 style="font-weight: 900; text-align: center">
						Planteamiento del problema</h3>
					<p align="justify">La mayoría de la población no pueden cumplir
						estrictamente el distanciamiento social y se ven en la necesidad
						de ir a establecimientos constantemente sobre todo en zonas donde
						creen que el contagio por COVID19 no está presente o es de riesgo
						bajo, pero existen ocasiones donde dichas afirmaciones suelen ser
						falsas, esto sucede porque en cierta medida no se cuenta con
						alguna fuente de información confiable y actualizada donde se
						muestren datos sobre el estado de la población en dicho
						establecimiento, esto ocasiona que posiblemente se crucen con
						personas probablemente padeciendo algún síntoma, principalmente
						temperatura elevada.</p>
				</div>
				<div class="col-sm-12">
					<hr />
					<h3 style="font-weight: 900; text-align: center">Justificación</h3>
					<div id="Medidor1"></div>
					<p align="justify">Los motivos que nos llevaron a elaborar este
						proyecto son la inexistencia de algún sitio web donde
						constantemente se esté actualizando y mostrando el estado de la
						población a través de su temperatura corporal, esto ocasiona que
						no tomen sus medidas de seguridad al adentrarse a un
						establecimiento en específico, como pueden ser parques,
						restaurantes, centros comerciales, estacionamientos, etc.</p>
				</div>
				<div class="col-sm-12">
					<hr />
					<h3 style="font-weight: 900; text-align: center">Objetivo
						general</h3>
					<div id="Medidor1"></div>
					<p align="justify">Diseñar y elaborar un sitio web que muestre
						de forma estadística la temperatura de una muestra de la
						población.</p>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"></script>
	</div>
</body>
</html>