<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="Layout :: navbar"></div>

	<div class="jumbotron text-center">
		<h1>Simulacion para el primer sensor</h1>
		<p>Monitorizacion de temperaturas</p>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">

			<div th:if="*{error != null}"
				class="alert alert-warning alert-dimissible fade show" role="alert">
				<button type="button" class="close" dara-dismiss="alert">&times;</button>
				<h4 th:text=*{error}></h4>
			</div>

			<form action="#" th:action="@{simulacion}" th:object="${sensor}"
				method="post">
				<label>Temperatura corporal: </label> 
				<input type="number" required="required" th:field="*{tcorporal}" class="form-control" placeholder="00"/> 
					
				<label>Temperatura ambiental: </label> 
				<input type="number" required="required" th:field="*{tambiente}" class="form-control" placeholder="00"/> 
					
				<label>Fecha: </label> 
				<input type="date" required="required" th:field="*{fecha}" class="form-control" placeholder="yyyy-mm-dd"/>
				<p>
					<input type="submit" value="Registrar" /> <input type="reset"
						value="Limpiar" />
				</p>
			</form>

			<div class="container mt-4">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Temperatura corporal</th>
							<th>Temperatura ambiental</th>
							<th>Fecha</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sensor:${sensores}">
							<td th:text="${sensor.id}"></td>
							<td th:text="${sensor.tcorporal}"></td>
							<td th:text="${sensor.tambiente}"></td>
							<td th:text="${sensor.fecha}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>

</body>
</html>
